services:
  redis:
    image: redis:latest
    container_name: redis_container
    ports:
      - 6379:6379
    networks:
      - backend_network
    volumes:
      - redis_volume:/data
  redis-ui:
    image: rediscommander/redis-commander:latest
    container_name: redis_ui_container
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - 8081:8081
    networks:
      - backend_network
    depends_on:
      - redis
  server:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    container_name: server_container
    ports:
      - 5000:5000
    networks:
      - backend_network
    volumes:
      - './:/usr/src/app'
    depends_on:
      # - database
      - redis
networks:
  backend_network:
    name: backend_network
    driver: bridge
volumes:
  redis_volume:
