app = "api-workly-contacts"

primary_region = "bom"

[build]
  dockerfile = "Dockerfile"

[mounts]
  source="workly_contacts_data"
  destination="/usr/src/app/public/temp"

[env]

[[services]]
  internal_port = 8080
  protocol = "tcp"
  processes = ["app"]

  [services.concurrency]
    type = "connections"
    soft_limit = 25
    hard_limit = 50

  [[services.ports]]
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "30s"
    interval = "15s"
    timeout = "2s"
    
  [[services.http_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "5s"
    path = "/health"